main{
  width: 300px;
  margin: 0 auto;
}

body{
  background-color: tomato;

  text-align: center;
}

h1{
  color: #3C8D0D;
}

li{
    color: #ffffff;
}

input{
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  font-size: 22px;
  margin: 10px;
}

.album-list{
  padding: 5px;
}

